html,
body {
  margin: 0;
  padding: 0;
}
.Wrap {
  max-width: 1400px;
  margin: 0 auto;
}
.Header {
  width: 100%;
  height: 130px;
  background-color: #038C5A;
}
.WrapMiddle {
  width: 100%;
  font-size: 0;
}
.Left {
  height: 625px;
  width: 120px;
  background-color: #03A66A;
  display: inline-block;
}
.Middle {
  height: 625px;
  width: 630px;
  background-color: #bbbf90;
  display: inline-block;
}
.Right {
  height: 625px;
  width: 210px;
  background-color: #03A66A;
  display: inline-block;
}
.Footer {
  height: 200px;
  width: 100%;
  background-color: #025059;
}
