#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    height: 100vh;
}

#centerme {
    background: purple;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}