#box {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;    
    background: pink;    

    position: absolute;
    left: 30%;
    top: 30%;
    
    transition: transform 5s;
}

#box:hover {
    transform: roate3d(0, 1, 1, 60deg);
}