h1 {
    color: darkblue;
    font-family: helvetica, arial;
    font-size: 3em;
    text-align: center;
    
    text-shadow: 10px 10px 10px pink;
    
    margin: auto;
    width: 80%;
    padding: 1em;
    
    box-shadow: inset 0px 0px 50px rgb(128, 128, 128);

    /*    background: linear-gradient(90deg, red 0%, orange 10%, pink 100%);*/

    background: radial-gradient( circle at center, red, orange, pink );
}