body {
    background-color: grey;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 0.75em  
}
@media screen and (min-width: 320px) {
    body {
        background-color: green;
        font-size: 5em;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-color: orange;
        font-size: 2em;
    }
}
@media screen and (min-width: 960px) {
    body {
        background-color: red;
        font-size: 1em;
    }
}
