#box {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;    
    background: pink;    

    position: absolute;
    left: 50%;
    top: 50%;
}

#box:hover {
    transform: matrix(1.678, -0.256, 1.522, 2.33, -51.533, -1.989);
}