body {
	margin: 1em 3em;
}
@supports (column-width: 1em) {
	main {
		-webkit-column-gap: calc(2em - 5px);
		   -moz-column-gap: calc(2em - 5px);
		        column-gap: calc(2em - 5px);
		-webkit-column-rule: thin dotted #999;
		   -moz-column-rule: thin dotted #999;
		        column-rule: thin dotted #999;
		-webkit-column-width: 14em;
		   -moz-column-width: 14em;
		        column-width: 14em;
	}
}
@supports not (column-width: 1em){
	main {
		max-width: 30em;
	}
}
main article {
	margin-bottom: 0.83em;
	padding: 10px 7px;
}
main article:last-of-type {
	margin-bottom: 0;
}
main article h2 {
	margin-top: 0;
}
main article[class^="type"][class*="1"] {
	background-color: red;
}
main article[class^="type"][class*="2"] {
	background-color: green;
}
main article[class^="type"][class*="3"] {
	background-color: blue;
}
main article p::first-line {
  font-size: 1.1em;
	font-weight: bold;
}
main article:nth-of-type(-n+6) {
	display: none;
}
p {
	margin: 0;
}
footer {
	font-weight: bold;
	margin-top: 2em;
}
@supports (display: flex) {
	footer {
		display: flex;
		flex-direction: row-reverse;
	}
}
@supports not (display: flex) {
	footer {
		clear: left;
		float: left;
	}
}
