main {
/*    column-width: 12em;*/
    column-count: 4;
    column-gap: 30px;
    column-rule: thin dotted #999;
}

main p {
    overflow: hidden;
    
    text-overflow: ellipsis;
/*    white-space: nowrap;  */
}