.FlexWrapper {
    width: 90%;
    background: orange;
    display: flex;
    justify-content: space-around;
}

.FlexOne {
    background: pink;
}

.FlexTwo {
    background: green;
    flex: 1;
}

.FlexThree {
    background: brown;
}