#box {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;    
    background: pink;    

    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
}