nav {
    display: flex;
}

nav a {
    background: yellow;
}

nav a:last-child {
    background: orange;
    margin-left: auto;
}

nav a:nth-of-type(3) {
    background: pink;
}

a:not(.me) {
    background: red;
}

.isempty {
    padding: 10px;
    margin: 10px;
    background: blue;
    width: 100px;
}

.isempty:empty {
    display: none;
}