.FlexWrapper {
    background-color: indigo;
    display: flex;
    height: 200px;
    width: 400px;
}
.FlexInner {
    background-color: orange;
    display: flex;
    height: 100px;
    width: 200px;
}