/*

target / context = width * 100

% width
vw vh
*/

.container {
    background: orange;
    width: 90%;
    height: 500px;
}

.header {
    background: yellow;
    width: 77.777777777777778%; /* 700/900 */
    height: 400px;
    margin: auto;
}

.left {
    background: green;
    width: 42.857142857142857%; /* 300/700 */
    height: 200px;
    float: left;
}

.right {
    background: blue;
    float: right;
    width: 57.142857142857143%; /* 400/700 */
    height: 300px;
}