input, textarea {
    background: pink;
    font-size: 30px
}

input:focus,textarea:focus {
    background: orange;
}

input:focus:required {
    background: red;
}

input:hover + label {
    background: purple;
}