#box {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    
    background: pink;
    
    transition: all 2s;
}

#box:hover {
    font-size: 50px;
    background: yellow;
}