/*

target / context = width * 100

% width
vw vh
*/

.container {
    background: orange;
    width: 900px;
    height: 500px;
}

.header {
    background: yellow;
    width: 700px;
    height: 400px;
    margin: auto;
}

.left {
    background: green;
    width: 300px;
    height: 200px;
    float: left;
}

.right {
    background: blue;
    float: right;
    width: 400px;
    height: 300px;
}